<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Is staff:</strong>
  <%= @user.is_staff %>
</p>
<% if @is_user_staff %>
  <%= button_to "toggle", { :controller => "users", :action => "toggle_staff", :user_id => @user.id} %>
<% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
